@font-face {
    font-family: "Alliance No.2";
    src: url("assets/fonts/AllianceNo2-Regular.ttf");
}
@import url('https://fonts.googleapi.com/css2?family=Pinyon+Script&display=swap');
:root{
  --primary: #ffffff;
  --primary-dark: #0c0c1040;
  --secondary : #1d1d21;
  --accent-a: #616164;
  --accent-b: #f64b29;
  --accent-c: #5a5a5a;
  --accent-d: #f2f2f2;
  --lh-a: 1.5;
  --lh-b: 1.75;
  --main-font: 'Alliance No.2';
  --sub-font: 'Open Sans';
  --sub-font-b: 'Pinyon Script', cursive;
}
::-webkit-scrollbar {
  display: none; /* chrome */
}
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2vw 4vw;
  background-color: var(--secondary);
  font-family: "Alliance No.2", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1023px) {
    nav {
        width: 100%;
        height: fit-content;
        max-height: 80px;
        padding: 3vh 8vw 2vh;
    }
    nav a {
        text-decoration: none;
        color: var(--primary);
        font-size: 8vw;
    }
    main.body-content {
        height: 70vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    main.body-content div {
        width: fit-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        /* text-align: center; */
    }
    main.body-content div > h1 {
        color: var(--primary);
        font-size: 12vw;
        font-weight: normal;
        font-family: var(--sub-font-b);
        letter-spacing: 0.6vw;
        margin-bottom: 1.5vh;
    }
    main.body-content div > h2 {
        color: var(--accent-a);
        font-size: 5vw;
        font-weight: normal;
        /* width: inherit; */
        letter-spacing: 1vw;
        text-align: center;
        font-variant: small-caps;
        margin: 0;
    }
    footer {
        border-top: 1px solid var(--accent-a);
        padding: 0 4vw;
    }
    footer > div.contact-email {
        padding: 8vw 0 8vw;
    }
    footer > div.contact-email span {
        /* padding: 2vw 0 0; */
        color: var(--accent-c);
        font-size: 3.25vw;
    }
    footer > div.contact-email h1 {
        font-size: 6vw;
        padding: 2vw 0 0;
        color: var(--primary);
        font-weight: normal;
    }
    footer > div.contact-email h1 a,
    footer > div.contact-email h1 a:visited {
        color: var(--primary);
        text-decoration: none;
    }
    footer > div.portfolio {
        padding: 8vw 0 8vw;
    }
    footer > div.portfolio > ul {
        display: grid;
        gap: 2vw;
        grid-template-columns: auto auto auto auto;
        text-align: center;
    }
    footer > div.portfolio > ul li.footer-portfolio {
        list-style: none;
    }
    footer > div.portfolio > ul li.footer-portfolio a {
        color: var(--accent-d);
        font-variant: small-caps;
        font-size: 4vw;
        text-underline-offset: 1vw;
    }
    footer > div.attribution {
        text-align: center;
        padding: 8vw 0 8vw;
        /* margin: 20vw 0 0; */
    }
    footer > div.attribution span {
        display: inline-block;
        width: 100%;
        font-size: 3.5vw;
        color: var(--accent-a);
        padding: 1vw 0;
    }
    footer > div.attribution span#year {
        display: inline;
    }
}
@media only screen and (min-width: 1020px) {
    nav {
        width: 100%;
        height: fit-content;
        /* max-height: 70px; */
        padding: 2vh 2vw;
    }
    nav a {
        text-decoration: none;
        color: var(--primary);
        font-size: 2vw;
    }
    main.body-content {
        height: 70vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    main.body-content div {
        width: fit-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        /* text-align: center; */
    }
    main.body-content div > h1 {
        color: var(--primary);
        font-size: 6vw;
        font-weight: normal;
        font-family: var(--sub-font-b);
        letter-spacing: 0.3vw;
        margin-bottom: 1vh;
    }
    main.body-content div > h2 {
        color: var(--accent-a);
        font-size: 1vw;
        font-weight: normal;
        /* width: inherit; */
        letter-spacing: 1vw;
        text-align: center;
        font-variant: small-caps;
        margin: 0;
    }
    footer {
        padding: 2vh 2vw;
        display: grid;
        gap: 2vw;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 1px solid var(--accent-a);
    }
    footer > div.contact-email {
        padding: 2.5vw 0 2.5vw;
    }
    footer > div.contact-email span {
        color: var(--accent-c);
        font-size: 1vw;
    }
    footer > div.contact-email h1 {
        font-size: 2vw;
        padding: 1vw 0 0;
        color: var(--primary);
        font-weight: normal;
    }
    footer > div.contact-email h1 a,
    footer > div.contact-email h1 a:visited {
        color: var(--primary);
        text-decoration: none;
    }
    footer > div.portfolio {
        padding: 2.5vw 0 2.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer > div.portfolio > ul {
        display: grid;
        gap: 2vw;
        grid-template-columns: auto auto auto auto;
        text-align: center;
    }
    footer > div.portfolio > ul li.footer-portfolio {
        list-style: none;
        /* margin: auto;
        display: inline-block; */
    }
    footer > div.portfolio > ul li.footer-portfolio a {
        color: var(--accent-a);
        font-variant: small-caps;
        text-underline-offset: 0.5vw;
        font-size: 1vw;
    }
    footer > div.portfolio > ul li.footer-portfolio a:hover {
        color: var(--primary);
    }
    footer > div.attribution {
        text-align: center;
        padding: 2.5vw 0 2.5vw;
    }
    footer > div.attribution span {
        display: inline-block;
        width: 100%;
        font-size: 1vw;
        color: var(--accent-d);
        padding: 0.5vw 0;
    }
    footer > div.attribution span#year {
        display: inline;
    }
}